version: '3.8'

services:
  app:
    build: .
    ports:
      - "8083:8083"
    env_file:
      - ./.env
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8083/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
